/*
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
 */


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    padding: 50px 100px;
}
.header-pair{
    font-family: 'Yeseva One', cursive;
    padding-left: 20px;
    border-left: 5px solid;
    border-image: linear-gradient(#433EAD, #785497);
    border-image-slice: 1;
}
.header-pair h1{
    color:#333333;
    font-weight: 400;
    font-size: 50px;
}
.color-defference{
    color: #785497;
}
h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size: 28px;
    font-weight: bold;
}
.flexiblity{
    display: flex;
}
.half-width{
    width: 50%;
}
.planning-part{
    gap: 5%;
}
.fraction-width{
    width: 30%;
}
.fraction-width img{
    width: 40%;
}
.hero-image{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#433EAD,#785497);
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    line-height: 5rem;
}
.width-one-third{
    width: 34%;
}
.width-two-third{
    width: 66%;
    padding: 0 5%;
}
footer{
    background-color: black;
    
}